<form id="kt_ecommerce_add_category_form"
  class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework">
  <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
    <div class="card card-flush py-4">
      <div class="card-header">
        <div class="card-title">
          <h2 class="form-label">Sube tu Imagen:</h2>
        </div>
      </div>
      <div class="card-body text-center pt-0">
        <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" style="
            background-image: url('assets/media/svg/files/blank-image.svg');
          ">
          <div [ngStyle]="{ 'background-image': 'url(' + image_prev + ')' }"
            class="image-input-wrapper w-125px h-125px"></div>
          <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow-sm"
            data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar"
            data-bs-original-title="Change avatar" data-kt-initialized="1">
            <i class="ki-duotone ki-pencil fs-7">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <input type="file" (change)="processImage($event)" name="avatar" id="customFile"
              accept=".png, .jpg, .jpeg" />
          </label>
          <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
            data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar"
            data-bs-original-title="Cancel avatar" data-kt-initialized="1">
            <i class="ki-duotone ki-cross fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </span>
          <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
            data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar"
            data-bs-original-title="Remove avatar" data-kt-initialized="1">
            <i class="ki-duotone ki-cross fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </span>
        </div>
        <div class="text-muted fs-7">
          Se le permite imagenes de tipo. *.png, *.jpg y *.jpeg
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
    <div class="card card-flush">
      <div class="card-body pt-0 d-flex flex-column gap-5">

        <div class="row mb-6">
          <div class="col-lg-6 fv-row fv-plugins-icon-container">
            <label class="fw-semibold fs-6 py-2">Titulo: (*)</label>
            <input type="text" name="title" [(ngModel)]="title" class="form-control form-control-lg form-control-solid"
              placeholder="Por ejemplo: The best note book collection 2024" />
            <div class="text-muted fs-7">El nombre debe ser único.</div>
          </div>
          <div class="col-lg-6 fv-row fv-plugins-icon-container">
            <label class="fw-semibold fs-6 py-2">Sku: (*)</label>
            <input type="text" name="sku" [(ngModel)]="sku" class="form-control form-control-lg form-control-solid"
              placeholder="Por ejemplo: ZDR456" />
            <div class="text-muted fs-7">El nombre debe ser único.</div>
          </div>

          <div class="row mb-6">
            <div class="col-lg-4 fv-row fv-plugins-icon-container">
              <label class="fw-semibold fs-6 py-2">Precio PEN: (*)</label>
              <input type="number" name="price_pen" [(ngModel)]="price_pen"
                class="form-control form-control-lg form-control-solid" placeholder="Por ejemplo: 20 PEN " />
            </div>
            <div class="col-lg-4 fv-row fv-plugins-icon-container">
              <label class="fw-semibold fs-6 py-2">PRECIO USD: (*)</label>
              <input type="number" name="price_usd" [(ngModel)]="price_usd"
                class="form-control form-control-lg form-control-solid" placeholder="Por ejemplo: 20 USD " />
            </div>
          </div>

          <div class="row mb-6">
            <div class="col-4">
              <label class="fw-semibold fs-6 mb-2">Departamento: (Primer Nivel *)</label>
              <select class="form-control form-select-solid mb-2" name="departament" placeholder="Selec. Departamento"
                [(ngModel)]="category_first_id" (change)="changeDepartamento()">
                <option value="">
                  Selec. un departamento
                </option>
                <ng-container *ngFor="let category of categories_first">
                  <option [value]="category.id">{{ category.name }}</option>
                </ng-container>
              </select>
            </div>
            <div class="col-4">
              <label class="fw-semibold fs-6 mb-2">Categoría: (Segundo Nivel *)</label>
              <select class="form-control form-select-solid mb-2" name="category" placeholder="Selec. Categoría"
                [(ngModel)]="category_second_id" (change)="changeCategory()">
                <option value="">
                  Selec. una categoría
                </option>
                <ng-container *ngFor="let category of categories_seconds_backups">
                  <option [value]="category.id">{{ category.name }}</option>
                </ng-container>
              </select>
            </div>
            <div class="col-4">
              <label class="fw-semibold fs-6 mb-2">Sub Categoría: (Tercer Nivel *)</label>
              <select class="form-control form-select-solid mb-2" name="category" placeholder="Selec. Sub Categoría"
                [(ngModel)]="category_third_id">
                <option value="">
                  Selec. una Sub Categoría
                </option>
                <ng-container *ngFor="let category of categories_thirds_backups">
                  <option [value]="category.id">{{ category.name }}</option>
                </ng-container>
              </select>
            </div>
          </div>

          <div class="col-lg-12 fv-row fv-plugins-icon-container">
            <label class="fs-6 fw-semibold mb-2">Descripción: </label>
            <div>
              <ckeditor [data]="description"></ckeditor>
            </div>
          </div>
          <div class="col-lg-12 fv-row fv-plugins-icon-container">
            <label class="fs-6 fw-semibold mb-2">Resumen: </label>
            <textarea class="form-control form-control-solid" rows="3" name="resumen" [(ngModel)]="resumen"
              placeholder="******"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <a href="apps/ecommerce/catalog/products.html" class="btn btn-light me-5">Cancelar</a>
      <button (click)="save()" type="button" class="btn btn-primary" [disabled]="isLoading$ | async">
        <span *ngIf="!(isLoading$ | async)" class="indicator-label">Guardar</span>
        <span *ngIf="isLoading$ | async">Espera...</span>
        <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm align-middle ms-2"></span>
      </button>
    </div>
  </div>
</form>
